.tweet-container {
  display: flex;
  flex-direction: column;
  background-color: #deecea;
  margin-top: 20px;
}

article.tweet {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
}

article.tweet:hover {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

article.tweet:hover footer div {
  visibility: visible;
}

article footer {
  display: flex;
}

.tweet {
  display: flex;
  flex-direction: column;
  background-color: #deecea;
  margin-top: inherit;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #deecea;
}

.tweet-header div {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.tweet .tweet-header h2 {
  align-items: baseline;
  font-size: 1em;
  margin-top: 25px;
  margin-bottom: 2px;
  color: #423e3e;
  margin-right: 10px;
}

.tweet .tweet-header img {
  height: 50px;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 15px;
}

.tweet .tweet-header span {
  margin-right: 50px;
  color: #89b1afa1;
}

.the-body {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #deecea;
  border-width: 1px;
  padding: 0;
}

.the-body p {
  word-wrap: break-word;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  border-top: solid; 
}

footer p {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 50%;
}

footer div {
  display: flex;
  visibility: hidden;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80px;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 60%;
}